    
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          asp-href-include="~/lib/twitter-bootstrap/css/bootstrap.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css"/>
    <title>SportsStore</title>
</head>
<body>
    <nav class="navbar navbar-inverse bg-inverse" role="navigation">
        <div class="row">
            <a class="col navbar-brand" href="#">SPORTS STORE</a>
            <div class="col-4 text-right">
                @await Component.InvokeAsync("CartSummary")
            </div>
        </div>

    </nav>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            @await Component.InvokeAsync("NavigationMenu")

        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</body>
</html>
